@model AspNetMVCDemos.Models.PersonalDataViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <form method="post">
        @Html.TextBoxFor(m => m.Age)
        <br />

        @Html.TextBoxFor(m => m.Age)
        <br />

        <input type="submit" />
    </form>

    <form method="post">
        <input type="text" name="firstName" />
        <input type="number" name="age" />
        <br />
        <input type="submit" />
    </form>
</div>